<ul>
  <li>
    <%- entryItem({ 
      title: "Official ‘gobsmacked’ over huge brown trout caught ice fishing",
      url : "#",
      image: "/images/fish1.png",
      author: "A. N. Gler",
      time: "February 18, 2021 9:50 AM"
     })%>
  </li>
  <li>
    <%- entryItem({ 
      title: "Researchers demonstrate new method to track genetic diversity of salmon and trout",
      url : "#",
      image: "/images/fish2.png",
      author: "Gill Scaler",
      time: "February 17, 2021 9:05 PM"
     })%>
  </li>
  <li>
    <%- entryItem({ 
      title: "Trout stocking has begun two weeks early in regional waters",
      url : "#",
      image: "/images/fish3.png",
      author: "Sunny Carpton",
      time: "February 16, 2021 10:45 AM"
     })%>
  </li>
  <li>
    <%- entryItem({ 
      title: "Massachusetts fisherman reels in huge brown trout while ice fishing",
      url : "#",
      image: "/images/fish4.png",
      author: "A. N. Gler",
      time: "February 16, 2021 8:10 AM"
     })%>
  </li>
  <li>
    <%- entryItem({ 
      title: "OSU, USFS researchers use new method to track salmon, trout genetic diversity",
      url : "#",
      image: "/images/fish5.png",
      author: "W. Bugger",
      time: "February 15, 2021 9:56 PM"
     })%>
  </li>
</ul>