<div class="entry-item">
  <%- headlineLevelStart() %><a href="<%= url %>"><%= title %></a><%- headlineLevelEnd() %>
  <span class="entry-list-image" /><a href="<%= url%>"><img src="<%= image %>" alt="A trout"/></a></span>
  <span class="entry-list-item-byline">By <a href="<%= url %>"><%= author %></a></span> 
  <time class="entry-list-item-timestamp"><a href="<%= url %>"><%= time %></a></time>
</div>
